<h2>Posts</h2>
<div *ngFor="let post of posts">

  <div class="card">
    <div class="card-header">
      {{ post.created_at | date: 'dd/MM/yyyy H:mm' }}
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <a [title]="post.title + ' details'">
          {{ post.title }}
        </a>
      </h5>
      <p class="card-text" *ngIf="post.body">
        {{ post.body }}
      </p>
      <a href="#" class="card-link" [routerLink]="['edit_post', post.id]" *ngIf="check(post)">Edit</a>
    </div>
  </div> 
  <br/>

    <!-- <h3>
        <a [title]="post.title + ' details'">
          {{ post.title }}
        </a>
      </h3>
    
      <p *ngIf="post.body">
        {{ post.body }}
      </p>

      <p *ngIf="post.created_at">
        {{ post.created_at }}
      </p> -->
  
  </div>